<!DOCTYPE html>

<html>

<head>
  <title>about</title>
  <link rel="icon" href="/img/icon_asn.png">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src={{img}}>
  </div>
  {{>footer}}
</body>

</html>
