<!DOCTYPE html>

<html>

<head>
  <title>Main menu</title>
  <link rel="icon" href="/img/icon_asn.png">
  <link rel="stylesheet" href="./css/style.css">


</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather</p>
    <form>
      <input placeholder="location">
      <button>Search</button>
    </form>
    <p id="m1"></p>
    <p id="m2"></p>
  </div>

  {{>footer}}
  <script src="./js/app.js"></script>
</body>

</html>
