<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  <link rel="icon" href="/img/icon_asn.png">
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/app.js"></script>

</head>

<body>
  <div class="main-content">
    {{>header}}

    <p class='forc-cont'>Address: </p>{{address}} </p>
    <p class='forc-cont'>Location: </p>{{location}}</p>
    <p class='forc-cont'>Forcast: </p>{{forcast}}</p>
  </div>

  {{>footer}}
</body>

</html>
